.minicard {
    margin-left: 10px;
}

.icons2 {
    color: #9381FF;
}


.minirow {
    margin-top: 30px;
    display: table;
}


.first {
    margin-right: 30px;
}

.second {
    margin-right: 30px;
}