p {
    color:#FFFFFF;
  }

h1 {
    color:#FFFFFF;
}


/*cards in projects*/
.card-body {
  background-color: #FFFFFF;
}


.card-text {
  color:#131313;
}

.button {
  font-size: 2.1rem;
  color: #131313;
}

/*might change buttons to icon*/

.button2 {
  font-size: 2.1rem;
  color: #131313;
  margin-left: 20px;
}

.button:hover {
  color: #9381FF;
}

.button2:hover {
  color: #9381FF;
}

/*about*/

.containers {
  background-color: #FFFFFF;
}

/* #E4D4FF lavendar blue */
/* #9381FF medium purple */