body {
    background-color: #131313 !important;
  }

/* Navbar */

.nav-item {
  background-color: #9381FF;
  margin-left: 100px;
  border-top: 50px;
  border-color: #FFFFFF;
}

.navbar-brand {
  margin-left: 20px;
}

li.navbar-brand {
  color: #FFFFFF;
}

/*navbar*/
.nav.nav-tabs {
  margin-bottom: 20px;
  background-color: #9381FF;
}


/*navbar text ex: About*/
.nav.nav-tabs li a {
  color:#FFFFFF;
  border-color: #FFFFFF;
  border-width: 1px;
}

.nav.nav-tabs li a:hover {
  color: #9381FF;
}

.nav.nav-tabs li a.nav-link.active {
  color: #9381FF;
}


/*footer*/

#foot {
  background-color: #9381FF;
  margin-top: 20px;
}

.footerbtn {
  font-size: 2.1rem;
  color: #FFFFFF;
}

.footerbtn2 {
  font-size: 2.1rem;
  color: #FFFFFF;
  margin-left: 20px;
}

.footerbtn:hover {
  color: #131313;
}

.footerbtn2:hover {
  color: #131313;
}
