body {
    background-color: #131313 !important;
  }

/* Navbar */

.nav-item {
  background-color: #9381FF;
  margin-left: 100px;
}
.navbar-brand {
  margin-left: 20px;
}

/*navbar*/
.nav.nav-tabs {
  margin-bottom: 20px;
  background-color: #9381FF;
  border-top: 50px;
  border-color: aliceblue;
}

/*navbar text ex: About*/
.nav.nav-tabs li a {
  color:aliceblue
}


/*footer*/

#foot {
  background-color: #9381FF;
  margin-top: 20px;
}
