body {
    background-color: #131313 !important;
  }

/* Navbar */

.nav-item {
  background-color: #9381FF;
  margin-left: 100px;
  border-top: 50px;
  border-color: aliceblue;
}

.navbar-brand {
  margin-left: 20px;
}

li.navbar-brand {
  color: aliceblue;
}

/*navbar*/
.nav.nav-tabs {
  margin-bottom: 20px;
  background-color: #9381FF;
}

/*navbar text ex: About*/
.nav.nav-tabs li a {
  color:aliceblue;
  border-color: whitesmoke;
  border-width: 1px;
}

.nav.nav-tabs li a:hover {
  color: black;
}


/*footer*/

#foot {
  background-color: #9381FF;
  margin-top: 20px;
}

.footerbtn {
  color: aliceblue;
}
